<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @pin.image.url(:medium) %>
      </div>
      <div class="panel-body center">
        <p><strong><%= @pin.description %></strong></p>
        <p><%= @pin.user.email if @pin.user %></p>

    <%= link_to pins_path do %>
      <span class="glyphicon glyphicon-chevron-left"></span>
      Back
      <% end %>

 		<%= link_to edit_pin_path(@pin) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
      <% end %>

      </div>
    </div>
  </div>
</div>